.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #474747;
  height: 100vh;
}

.main--heading {
  color: white;
  font-size: 24px;
}

.personal--details, .education--details, .work--details {
  display: flex;
  flex-direction: column;
  min-width: 350px;
}

.personal--details > p, .education--details > p, .work--details > p {
  color: #07E1FF;
  font-size: 24px;
}

.sub_heading {
  color: #07E1FF;
  font-size: 24px;
}

/* .cv--display > div > p {
  color: white;
  font-size: 18px;
} */

input {
  margin-bottom: 10px;
}

.save-button, .edit-button {
  margin-top: 30px;
  width: 70px;
  height: 30px;
  border-radius: 5px;
  border: none;
  background-color: #07E1FF;
  font-weight: bold;
  color: #474747;
  cursor: pointer;
}