.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #474747;
  height: 100vh;
}

.main--heading {
  color: white;
  font-size: 24px;
}

.personal--details, .education--details, .work--details {
  display: flex;
  flex-direction: column;
  min-width: 350px;
}

.personal--details > p, .education--details > p, .work--details > p {
  color: #07E1FF;
  font-size: 24px;
}

input {
  margin-bottom: 10px;
}